html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    color: white;
  }
  
  body.light-mode {
    background-color: rgb(224, 244, 255);
    color: black;
  }
  
  /* Light mode overrides for the divs */
  body.light-mode .div1 {
    background-color:rgb(135, 196, 255);
  }
  
  body.light-mode .div3 {
    background-color: lightgreen;
  }
  
  body.light-mode .div4 {
    background-color: lightblue;
  }
  
  body.light-mode .div1-div2 {
    background-color: white;
    color: black;
  }
  
  header {
    padding: 1rem;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    margin: 0 1rem;
    cursor: pointer;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background-color: rgb(255, 238, 217);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: width 0.2s ease;
  }
  
  nav:hover {
    width: 120px;
  }
  
  .nav-item {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-item img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease, filter 0.2s ease;
  }
  
  .nav-item img:hover {
    transform: scale(1.5);
  }
  
  body.light-mode .nav-item img {
    filter: invert(1);
  }
  
  .theme-toggle {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .theme-toggle img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  .theme-toggle:hover img {
    transform: scale(1.2);
  }
  
  body.light-mode .theme-toggle img {
    filter: invert(1);
  }
  
  .div1 {
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(57, 167, 255);
  }
  
  .div3 {
    background-color: chartreuse;
    height: 500px;
  }
  
  .div4 {
    background-color: aliceblue;
    height: 500px;
  }
  
  .div1-div1 {
    height: 200px;
    width: 200px;
  }
  
  .div1-div2 {  
    background-color: aliceblue;
    height: 200px;
    width: 200px;
    color: black;
    justify-content: center;
  }
  